rect {
	fill: none;
	stroke: rgba(0%, 0%, 0%, 1);
}

.point {
	fill: rgba(20%, 20%, 20%, .3);
	stroke: none;
}

.line {
	stroke: rgba(0%, 0%, 0%, .3);
	fill: none;
	pointer-events: none;
}

.consPoint {
	fill: rgba(100%, 0%, 0%, .7);
	stroke: none;
}